#login-button, #logout-button, #wallet-address, #list-status
{
    display: none;
}

#nft-list img{
    max-width: 100%;
    margin: 16px auto;
}

.navbar-nav .nav-item{
    margin-left: 8px;
}

.navbar-nav {
    margin-left: auto;
}